@keyframes moveHorizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120vw); /* Mueve mucho más allá del viewport */
  }
}
@keyframes moveHorizontalMobile {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(170vw); /* Mueve mucho más allá del viewport */
  }
}

@keyframes moveHorizontalOnce {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150vw); /* Sale del viewport, no vuelve */
  }
}

.move-horizontal {
  will-change: transform;
}
.shape-img {
  width: 100%;
  height: auto;
}

@media (max-width: 640px) {
  .shape-img {
    width: 60% !important;
    max-width: 80px !important;
  }
}
